*,
*::before,
*::after {
  box-sizing: border-box;
}

// ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  // min-height: 100vh;
  // background-color: rgb(90, 90, 90);
  // color: #fff;
  max-width: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #fff rgb(16, 16, 16);
}

*::-webkit-scrollbar {
  width: max(10px, 0.5vw);
}

*::-webkit-scrollbar-track {
  background: rgb(16, 16, 16);
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid rgb(16, 16, 16);
}

input {
  border-radius: 2vh;
  padding: max(5px, 0.5vh) max(12px, 1vw);
  outline: none;

  &:focus {
    border: 1px rgb(255, 69, 97) solid;
  }

  &.active {
    border: 1px rgb(255, 69, 97) solid;
  }

  margin-top: calc(max(0.5vh, 5px) * 2);
}
