@import "../../assets/style/general.module.scss";

.container {
  @include container();
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:first-of-type) {
      margin-top: calc($marginTop * 8);
    }
  }
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h3 {
    text-align: center;
    font-size: max(3vh, 30px);
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-of-type {
      margin-top: $marginTop;
    }
  }

  img {
    border-radius: 2vh;
    margin-top: $marginTopScreen;
  }
}
.directions {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;

  & > h3 {
    font-size: max(3vh, 30px);
  }

  & > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: max(10px, 1vw);

    &:first-of-type {
      margin-top: $marginTop;
    }

    & > div {
      background-color: $siteBgColor;
      color: #fff;
      & > h3 {
        min-width: max(300px, 3vw);
      }
    }
  }
}
